@import "./../css/config.scss";
.footer-outer {
	width: 100%;
	overflow: hidden;
	background-color: #242424;
	border-top: 5px solid $main_color;
>ul{
	width: 1000px;
	margin:0 auto;
	display: flex;
	box-sizing: border-box;
	padding: 30px 150px;
	border-bottom: 1px solid #010101;
	>li{
		flex: 1;
		text-align: center;
		color: #fafafa;
		font-size: 14px;
		>a{
			color: #d2d2d2;
		}
		&:after{
				display: block;
				float: right;
				content: "";
				height: 19px;
				width: 1px;
				background-color: #d2d2d2;
		}
	}
	>li:last-of-type{
		&:after{
			display: none;
		}
	}
}
>p{
	text-align: center;
	color: #bdbdbd;
	font-size: 12px;
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #4b4b4b;
	line-height: 35px;
	padding: 20px 0;
}
}
