@import "./config";
body {
  background-color: #ffffff;
}
.nav-list {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    >.label-list {
        position: relative;
        padding: 20px 0 10px 140px;
        background-color: #f7f7f7;
        border: 1px solid #ececec;
        border-left: none;
        border-right: none;
        min-height: 25px;
        >span{
          display: block;
          position: absolute;
          font-size: 14px;
          width: 140px;
          left: 0;
          top: 25px;
          text-align: center;
          color: #000000;
          height: 25px;
          line-height: 25px;
        }
        >.select{
           background-color: $main_color;
           color: #FFFFFF;
        }
        >li{
          display: inline-block;
          float: left;
          margin-bottom: 10px;
          margin-right: 40px;
          padding: 0 5px;
          cursor: pointer;
          font-size: 14px;
          color: #2e2e2e;
          height: 25px;
          line-height: 25px;
          transition: all 0.2s ease-in;
          &:hover{
            color: #ffffff;
            background-color: $main_color;
          }
        }
    }

    >.type-two {
        background-color: #ffffff;
        position: relative;
        padding: 20px 60px 10px 140px;
        min-height: 25px;
        max-height: 100px;
        overflow: hidden;
        >span {
          display: block;
          position: absolute;
          font-size: 14px;
          width: 140px;
          left: 0;
          top: 20px;
          text-align: center;
          color: #000000;
          height: 25px;
          line-height: 25px;
        }
        >button{
          position: absolute;
          top: 20px;
          right: 0;
          height: 25px;
          line-height: 23px;
          box-sizing: border-box;
          width: 60px;
          text-align: center;
          font-size: 12px;
          color: #2e2e2e;
          cursor: pointer;
          border: 1px solid #d3d3d3;
          background-color: #ffffff;
          transition: all 0.2s ease-in;
          &:hover{
            border-color: $main_color;
            color: $main_color;
          }
        }
        >li{
          display: inline-block;
          float: left;
          margin-right: 40px;
          margin-bottom: 10px;
          padding: 0 5px;
          cursor: pointer;
          font-size: 14px;
          color: #2e2e2e;
          height: 25px;
          line-height: 25px;
          transition: all 0.2s ease-in;
          &:hover{
            color: #ffffff;
            background-color: $main_color;
          }
        }
        >.select{
           background-color: $main_color;
           color: #FFFFFF;
        }
    }
    >.openselect{
      max-height: 999px;
    }
    >.type-three {
        width: 1200px;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        background-color: #f7f7f7;
        position: relative;
        border-top: 1px solid #c5c5c5;
        >li{
            width: 100px;
            text-align: center;
            font-size: 12px;
            float: left;
            cursor: pointer;
            &:hover{
                color:$main_color;
            }
        }
        .select{
             color: $main_color;
        }
        >div{
            float: right;
            width: 100px;
            cursor: pointer;
            position: relative;
            height: 40px;
            font-size: 12px;
            text-align: center;
            color: #4b4b4b;
            &:hover span{
                transform: rotate(180deg);
            }
            &:hover ul{
                display: block;
            }
            >span{
                transition: all 0.2s ease-in;
                display: block;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-bottom-color: #9a9a9a;
                transform-origin: 50% 7.5px;
                position: absolute;
                right: 20px;
                top: 12.5px;
            }
            >ul{
                display: none;
                position: absolute;
                top: 40px;
                left: 0;
                width: 100px;
               border: 1px solid #ececec;
               border-bottom: none;
               border-top: none;
               z-index: 999;
               background-color: #ffffff;
               box-shadow: -1px 2px 2px 0 rgba(0,0,0,0.3);
               >li{
                   height: 25px;
                   line-height: 25px;
                   border-bottom: 1px solid #ececec;
                   &:hover{
                       background-color: #9a9a9a;
                        color: #ffffff;
                   }
               }
            }
        }
    }

}

.course-content {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    >section {
        >ul {
            width: calc(100% + (200px / 3));
            >li {
                width: 250px;
                display: block;
                float: left;
                margin-right: calc(199px / 3);
                transition: all 0.2s ease-in;
                cursor: pointer;
                margin-bottom: 40px;
                padding-bottom: 5px;
                &:hover{
                   transform: translateY(-5px);
                   box-shadow: -3px 4px 4px 0 rgba(0,0,0,0.3);
                   background-color: #FFFFFF;
                }
                >figure {
                    margin: 0;
                    >img {
                        width: 250px;
                        height: 150px;
                        display: block;
                        box-sizing: border-box;
                        border: 1px solid #c3c3c3;
                    }
                    >h5 {
                        color: #414141;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        box-sizing: border-box;
                        padding-left: 5px;
                    }
                    >ul {
                        box-sizing: border-box;
                        height: 20px;
                        padding-left: 5px;
                        >li:nth-of-type(1) {
                            float: left;
                            width: 50%;
                            color: #de2424;
                            font-size: 16px;
                            height: 20px;
                        }
                        >li:nth-of-type(2){
                        	float: left;
                            width: 50%;
                            color: #504e4e;
                            font-size: 12px;
                            height: 20px;
                            line-height: 20px;
                            text-align: right;
                            padding-right: 10px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    >#pagecontrol{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
