<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>琇雅-课程中心</title>
		<link rel="stylesheet" type="text/css" href="modules/css/course.scss" />
		<link rel="stylesheet" type="text/css" href="lib/js/laypage/skin/laypage.css"/>
	</head>

	<body>
		<link rel="import" href="modules/html/header/header.html?__inline">
		<nav class="nav-list">
			<ul class="label-list clear">
					<span>全部课程：</span>
					<li class="select">全部</li>
					<li>财务管理</li>
					<li>个人发展规划</li>
					<li>领导艺术</li>
					<li>情绪管理专家</li>
					<li>商务礼仪</li>
					<li>人力资源</li>
			</ul>
			<ul class="type-two clear"  v-bind:class="{'openselect':more.close}">
				<span>分类：</span>
				<button class="open" v-show="more.open"  v-on:click="openmore()">更多∨</button>
				<button class="close" v-show="more.close"  v-on:click="openmore()">收起∧</button>
				<li class="select">全部</li>
				<li>采购管理与实施</li>
				<li>财务管理</li>
				<li>个人发展规划</li>
				<li>领导艺术</li>
				<li>情绪管理专家</li>
				<li>商务礼仪</li>
				<li>人力资源</li>
				<li>自我情绪</li>
				<li>成本管理与控制 </li>
				<li>目标结果</li>
				<li>人力资本</li>
				<li>礼仪作用</li>
				<li>财务管理</li>
				<li>个人发展规划</li>
				<li>领导艺术</li>
				<li>情绪管理专家</li>
				<li>商务礼仪</li>
				<li>人力资源</li>
				<li>自我情绪</li>
				<li>成本管理与控制 </li>
				<li>目标结果</li>
				<li>人力资本</li>
				<li>礼仪作用</li>
				<li>情绪管理专家</li>
				<li>商务礼仪</li>
				<li>人力资源</li>
				<li>自我情绪</li>
				<li>成本管理与控制 </li>
				<li>目标结果</li>
				<li>人力资本</li>
				<li>礼仪作用</li>
			</ul>
			<ul class="type-three clear">
				<!--绑定课程属性函数type_change，切换全部，即将开始等-->
				<li v-for="item in type_select" v-bind:class="{'select':item.select}" v-on:click="type_change(item)">{{item.title}}</li>
				<div>{{type_sorting.show}}
					<span></span>
					<!--绑定type_scording函数，用于切换按时间或者按热度选择-->
					<ul>
						<li v-on:click="scrding(type_sorting.new)">按最新</li>
						<li v-on:click="scrding(type_sorting.hot)">按热门</li>
					</ul>
				</div>
		</ul>
		</nav>

		<article class="course-content">
			<section>
				<ul class="clear">
					<!--绑定函数courseClick,将数据对象整体传入-->
					<li v-for="item in courselist" v-on:click="courseClick(item)">
						<figure>
							<img v-bind:src="item.imgsrc"alt="course" />
							<h5>{{item.title}}</h5>
							<ul>
								<li>￥{{item.studypeople}}</li>
								<li>章节：{{item.courseNumber}}章节</li>
							</ul>
						</figure>
					</li>
				</ul>
			</section>
			<!--分页插件-->
			<section id="pagecontrol"></section>
		</article>

		<link rel="import" href="modules/html/footer/footer.html?__inline">
		<script src="lib/js/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/js/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/js/laypage/laypage.js" type="text/javascript" charset="utf-8"></script>
		<script src="modules/app/course.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
